.landingPage {
  font-family: "Segoe UI", sans-serif;
}

.hero {
  background: linear-gradient(to right, #1b6cdd, #63a4ff);
  color: white;
  text-align: center;
  padding: 60px 20px;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.heroButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.primaryBtn,
.secondaryBtn {
  padding: 12px 24px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.primaryBtn {
  background-color: white;
  border: 2px solid white;
  color: #1b6cdd;
}

.primaryBtn:hover {
  background-color: #1b6cdd;
  color: white;
}

.secondaryBtn {
  background-color: white;
  border: 2px solid white;
  color: #1b6cdd;
}

.secondaryBtn:hover {
  background-color: #1b6cdd;
  color: white;
}
.howItWorks{
background-color: #1b6cdd;
color: white;
font-size: large;

}
.featuredCourses,
.howItWorks,
.testimonials,
.categories,
.whyEduflex,
.newsletter,
.finalCTA {
  padding: 40px 20px;
  text-align: center;
}

.courseGrid,
.testimonialGrid,
.categoryGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.courseCard,
.testimonial,
.categoryCard {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.518);
}

.rating {
  color: gold;
}

.steps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.step span {
  font-size: 2rem;
border-radius: 20px;
padding: 10px;
background-color: rgba(255, 255, 255, 0.548);
}

.step p {
  margin-top: 10px;
}

.reasons {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.newsletterForm {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.newsletterForm input {
  padding: 10px 20px;
  border-radius: 25px;
  border: 1px solid #ccc;
  width: 250px;
}

.newsletterForm button {
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #1b6cdd;
  color: white;
  border: none;
  cursor: pointer;
}

.newsletterForm button:hover {
  background-color: #155ab6;
}

.finalCTA div {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}



.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 2px solid #3b82f6;
}

.badge {
  display: inline-block;
  background-color: #dbeafe;
  color: #1e40af;
  font-size: 0.75rem;
  padding: 4px 10px;
  border-radius: 20px;
  margin-top: 8px;
  font-weight: 500;
}
