.categorySection {
  margin: 50px;
  padding: 40px 20px;
  text-align: center;
  align-items: center;
  background-color: #1b6cdd;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.categoryHeader {
  color: white;
}

.card {
  background-color: white;
  color: #1b6cdd;
  padding: 20px;
  border: 2px solid white;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card:hover {
  background-color: #b7cdec;
  color: #1b6cdd;
  transform: scale(1.05);
}

.loading,
.error {
  padding: 20px;
  text-align: center;
  font-weight: bold;
  color: #1b6cdd;
}
