.searchWrapper {
    position: relative;
    max-width: 320px;
}

.searchCours {
    width: 250px;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid white;
  background-color: white;
  color: rgba(27, 108, 221, 0.995);
  font-weight: 500;
  transition: border 0.3s ease, background-color 0.3s ease;
}

.searchCours:focus {
    border-color: #007bff;
    outline: none;
}

.searchDropdown {
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    background: rgba(27, 108, 221, 0.995);;;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
    z-index: 10;
    max-height: 220px;
    overflow-y: auto;
}

.searchItem {
    padding: 0.6rem 1rem;
    cursor: pointer;
    transition: background 0.2s ease;
}

.searchItem:hover {
    background-color: #f1f1f1;
color: rgba(27, 108, 221, 0.995);
}

.noResult {
    padding: 0.8rem 1rem;
    color: #999;
    font-style: italic;
}
